*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Navigation Bar */
header {
  background-color: #203A93;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.logo {
  color: white;
}

.logo h1 {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.1;
}

.logo h3 {
  font-size: 20px;
  font-weight: lighter;
  line-height: 1.1;
}

.menus {
  display: flex;
  align-items: end;
  list-style: none;
  gap: 90px;
  padding: 10px;
}

.menus a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  position: relative;
}

.menus a:after {
  content: "";
  position: absolute;
  background-color: white;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.menus a:hover {
  color: #F1D27C;
}

.menus a:hover:after {
  width: 100%;
}

.buttons button {
  border-radius: 10px;
  border: none;
  background-color: #203A93;
  color: white; 
  padding: 10px 20px; 
  cursor: pointer; 
  font-size: 20px; 
  transition: background-color 0.3s ease; 
}

.buttons a{
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.buttons button:hover {
  background-color: #1C2F74; 
}

/* Banner Image */
.image-container img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  position: relative;
  filter: brightness(45%);
}

.text-overlay {
  position: absolute;
  top: 60%;
  margin-left: 15px;
  justify-content: left;
  transform: translateY(-50%);
  text-align: left;
  width: 50%;
  color: white;
  z-index: 1;
}

.text-overlay h1 {
  font-size: 4em;
  line-height: 1.1;
  color: #F1D27C;
}

.text-overlay h2 {
  font-size: 4em;
  line-height: 1.1;
}

.text-overlay p {
  font-size: 1.5em;
}

.getstarted {
  position: absolute;
  top: 110%;
  transform: translateY(-50%);
  padding: 15px 15px;
  font-size: 1.5em;
  background-color: #83c7f0;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.getstarted a {
  text-decoration: none;
  color: inherit; 
}

.getstarted:hover {
  background-color: #F1D27C; 
}

/* Feature Cards */
.features-cards {
  text-align: center;
  padding: 30px 10px; 
}

.features-cards h1 {
  font-size: 2.5em; 
  margin-bottom: 10px;
  color: #203A93;
}

.features-cards p {
  font-size: 1.1em; 
  color: #484848; 
  margin-bottom: 30px;
}

.row-feature {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
}

.col {
  width: 320px; 
  margin: 20px; 
  padding: 20px;
  background-color: #484848; 
  border-radius: 20px; 
}

.col img {
  width: 200px; 
  height: 200px;
  margin-bottom: 20px;
  filter: invert(100%);
}

.col h2 {
  font-size: 30px; 
  margin-bottom: 10px;
  color: #83c7f0;
}

.col p {
  font-size: 1em; 
  color: white; 
}

/* Pricing Plans */
.pricing-plans {
  text-align: center;
  padding: 40px 20px;
}

.pricing-plans h1 {
  color: #203A93;
  font-size: 2.5em;
  margin-bottom: 10px;
}

.pricing-plans p {
  font-size: 1.1em;
  color: #484848;
  margin-bottom: 30px;
}

.semi-circle {
  width: 100%;
  height: 120px; 
  background-color: #83c7f0;
  border-top-left-radius: 100% 80%;
  border-top-right-radius: 100% 80%;
}

.big-container {
  height: 600px;
  background-color: #83c7f0;
}

.plans-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.blue-box {
  background-color: #203A93; 
  border-radius: 20px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.plan {
  width: 400px;
  height: 500px;
  margin: 20px;
  padding: 30px;
  padding-top: 0;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.line {
  width: 100%;
  background-color: #B51963;
  border-radius: 10px;
  height: 15px;
}

.line-2 {
  width: 100%;
  background-color: #F57600;
  border-radius: 10px;
  height: 15px;
}

.line-3 {
  width: 100%;
  background-color: #E3242B;
  border-radius: 10px;
  height: 15px;
}

.small-line {
  width: 100%;
  height: 2px;
  background-color: #484848;
}

.plan-header {
  margin-bottom: 10px;
  text-align: center;
}

.plan-header h2 {
  font-size: 1.8em;
  margin-bottom: 5px;
}

.plan-header p {
  font-size: 1.5em;
  color: #484848;
  font-weight: bold;
}

.plan-header sup {
  font-size: 0.7em;
  vertical-align: top;
}

.plan-header sub {
  font-size: 0.7em;
}

.price {
  font-size: 2em;
}

.plan-content p {
  text-align: center;
}

.plan-content ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}

.plan-content li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 25px;
}

.plan-content li::before {
  content: "✓";
  position: absolute;
  left: 0;
  color: green; 
}

.plan-button-1 {
  display: flex;
  background-color: #B51963; 
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  justify-content: center; 
  margin: 0 auto; 
  width: fit-content; 
}

.plan-button-2 {
  display: flex;
  background-color: #F57600; 
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  justify-content: center; 
  margin: 0 auto; 
  width: fit-content; 
}

.plan-button-3 {
  display: flex;
  background-color: #E3242B; 
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

  
  footer {
    background-color: #404141;
    color: white;
    padding: 40px 0 20px 0;
    border-top: 1px solid #485461;
    flex-shrink: 0; 
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    width: 25%;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 8px;
  }
  
  .footer-section a {
    color: white;
    text-decoration: none;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  .footer-bottom p {
    margin: 0 20px;
    font-size: 0.9em;
  }